@import "../font.scss";

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  flex-direction: row;

  .videoBlock {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .videoBlock__thumbnail {
      margin: 1 auto;
      width: 450px;
      height: 250px;
    }

    .videoBlock__title {
      font-family: "baemin";
      font-size: 15pt;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 10px;
    }

    .videoBlock__views {
      font-family: "baemin";
      font-size: 12pt;
    }
  }
}

@media screen and (max-width: 1400px) {
  .videoBlock {
    grid-column: span 3 !important;
  }
}

@media screen and (max-width: 1028px) {
  .videoBlock {
    grid-column: span 6 !important;
  }
}
