@import "../font.scss";

.video-detail__container {
  display: flex;
  flex-direction: column;
}

.video__info {
  margin-top: 20px;
  margin-left: 10px;
}

.video__info button {
  margin-bottom: 10px;
  background: $blue;
  color: white;
  height: 31px;
  font-size: 15pt;
  font-weight: bold;
  border-radius: 10px;
}

.video__info a {
  padding-right: 468px;
}

.video__title {
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video__comments {
  margin-top: 37px;
}

.video__views {
  font-size: 15pt;
  font-family: "baemin";
}

.video__description {
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: pre;
  line-height: 1.5em;
  font-size: 15pt;
}

.video__userDetail {
  font-size: 15pt;
  font-family: "baemin";

  a {
    margin-left: 10px;
    color: $blue;
  }
}

.video__comment-number {
  font-weight: bold;
}

#jsAddComment {
  text-align: center;
  input {
    width: 100%;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 1px gray;
  }
}

.video__comments-list {
  margin-top: 10px;
  width: 100%;

  a {
    padding: 0 !important;
    margin-right: 10px;
    color: $blue;
  }
  .comment__box {
    position: relative;
    width: 100% !important;
    font-family: "baemin";
    font-size: 15pt;
    padding: 2px;
    margin-top: 10px;
    min-width: 400px;

    i {
      justify-self: left;
      cursor: pointer;
      float: right;
    }

    .user__name {
      margin-right: 5px;
    }

    .comment__date {
      font-size: 12pt;
    }
    .comment__text {
      width: 100%;
      word-break: break-all;
    }
  }
}
.comment__avatar {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.modify__select {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 80px;
  position: absolute;
  top: 20px;
  right: 1px;
  display: none;

  i:nth-child(1) {
    position: absolute;
    left: 20px;
    top: 10px;
  }

  i:nth-child(2) {
    position: absolute;
    left: 20px;
    top: 47px;
  }
}

.info__div {
  input {
    font-family: "baemin";
    font-size: 15pt;
    width: 100%;
    box-sizing: border-box;
    width: 80%;
    border-bottom: 1px solid gray;
    background: none;
    height: 28px;
  }
}
