.changePassword__flex__div {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.changePassword__grid:nth-child(1) {
  grid-column: span 1;
}

.changePassword__grid:nth-child(2) {
  grid-column: span 1;

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-top: 24px;
      padding: 10px;
      font-size: 12pt;
      border-radius: 5px;
      box-shadow: 3px 3px 5px 1px gray;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .btn {
      background-color: $blue;
      color: white;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }
}
